<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  
	<title>Domiclik</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">

<!-- Optional theme -->
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.css">

<!-- Latest compiled and minified JavaScript -->

</head>
<body>







  
	<nav class="navbar navbar-inverse navbar-static-top collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="/"><img src="{{MEDIA_URL}}img/logo_web.png" height="238" width="243"  alt=""></a>

       

    </div>

     <ul class="nav navbar-nav">
        <li class="active"><p id ="fuente" href="/">Pides On-line y pgas en casa</p></li>
        
        
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="active"><a  href="#"><i class="fa fa-cutlery fa-2x"></i>&nbsp; Restaurantes</a></li>
        <li ><a data-toggle="tooltip" data-placement="bottom" title="PROXIMAMENTE" href="#"><i class="fa fa-glass fa-2x"></i>&nbsp; Licores</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="PROXIMAMENTE" href="#"><i class="fa fa-medkit fa-2x"></i>&nbsp; Farmacias</a></li>
        
      
      </ul>
    
  </div><!-- /.container-fluid -->
</nav>




    







<div class="container">
    <br><br><br>

   
<div class="text-center"><img src="{{MEDIA_URL}}img/Gracias.png"  width ="" alt=""> <!--<i class="fa fa-thumbs-up fa-5x"></i>-->
<div id="fuente3"><h2>GRACIAS POR PEDIR EN DOMICLIK, SE HA ENVIADO UN EMAIL AL CORREO SUMINISTRADO. EN BREVE UN ASESOR LE CONTACTARÁ..!!</h2></div></div>
  


<br><br>
<br><br>

</div>
<div class="navbar-fixed-bottom">
  
  <img src="{{MEDIA_URL}}img/edificios.png"  width ="100%" alt="">
</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    

     <ul class="nav navbar-nav ">
      <li  class="active"><a  href="#"></a></li>
        
        <li  class="active"><a  href="#">T&eacute;rminos y Condiciones</a></li>
        
        <li  class="active"><a  href="#">|</a></li>
        <li  class="active"><a  href="#">Cont&aacute;ctenos</a></li>

        
      
         
         <li  class="active"><a  href="#">|</a></li>
         <li  class="active"><a  href="#"><i class="fa fa-android fa-2x"></i>&nbsp; Android</a></li>
         <li  class="active"><a  href="#">|</a></li>
         <li  class="active"><a  href="#"><i class="fa fa-apple fa-2x"></i>&nbsp; Apple</a></li>

        <li ><a  href="#">&nbsp; | &nbsp;</a></li>
        
        
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="">S&iacute;guenos en : </a></li>
        <li  class="active"><a  href="#"><i class="fa fa-facebook fa-2x"></i>&nbsp; Facebook</a></li>
        <li class="active"><a  href="#"><i class="fa fa-twitter fa-2x"></i>&nbsp; Twitter</a></li>
        <li class="active"><a  href="#"><i class="fa fa-google-plus fa-2x"></i>&nbsp; Google</a></li>
        
      
      </ul>
    
  </div><!-- /.container-fluid -->
  
</nav>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script src="{{STATIC_URL}}js/jquery.js"></script>
  <script src="{{STATIC_URL}}js/modernizr.js"></script>
  <script src="{{STATIC_URL}}js/jquery.dropdown.js"></script>
  <script src="{{STATIC_URL}}js/bootstrap.js"></script>
  <script src="{{STATIC_URL}}js/jquery.ddslick.min.js"></script>

  

<script type="text/javascript">

$("[data-toggle='tooltip']").tooltip();

$( function() {
        
        $('#cd-dropdown').dropdown( {
          gutter : 5
        } );

      });


</script>


<script>
   

</script>

<script>
 
</script>



</body>
</html>